* {
    /* color: green; */
    /* margin: 0;
    padding: 0; */
}

.para {
    color: blue;
    background-color: aqua;
}

.font-size {
    font-size: large;
}

#new-para {
    color: red;
}

p {
    /* color: orange; */
    /* background-color: brown; */
}

.box-modal {
    position: fixed;
    top: 50px;
    right: 20px;
    border: 5px solid blue;
    padding: 10px;
    /* margin-right: 100px;
    margin-left: 100px; */
    /* margin: 150px 250px 400px 550px; */
    /* outline: 5px solid grey; */
    /* outline-offset: 10px; */
}

.new {
    float: right;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    overflow: hidden;
}

.child {
    position: absolute;
    left: 20%;
    color: hsl(300, 100%, 50%);
    opacity: 0.5;
}

ol {
    list-style-type: none;
    list-style-image: url('');
    list-style-position: inside;
}

a {
    text-decoration: none;
}

table, td, th {
    border: 2px solid grey;
    border-collapse: collapse;
}

table {
    width: 50%;
    text-align: center;
    overflow-x: auto;
}

td, th {
    padding: 10px;
}

p {
    /* font-size: 50px;
    text-shadow: 5px 2px 3px black;
    z-index: -122; */
}


div > p {
    color: red;
}

div ~ h1 {
    color: blue;
}

button {
    background-color: aqua;
    border: none;
    padding: 20px;
    cursor: pointer;
}

h1:hover{
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    padding: 35px;
}

button:hover {
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    padding: 35px;
}